
/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                   -------------------------- VIEW PRINCIPAL ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- MENU BAR VW PRINCIPAL --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.menubar{
    -fx-background-color: #FFFFFF;
    -fx-opacity: 5.5;
    -fx-border-image-width: 5.0;
}

.menuitem{
    -fx-background-color:   #FFFFFF;
}
.menuitem:hover{
    -fx-background-color:   #F5BE00;
    -fx-text-fill: #FFFFFF;
}
.menu:hover{
    -fx-background-color:   #F5BE00;
    -fx-text-fill: #FFFFFF;
}

/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  PROGRAMADOR VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES VIEW PROGRAMADOR --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonP {
    -fx-background-color:  #FFFFFF;
    -fx-text-fill: #2B3C56;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.buttonP:hover {
    -fx-background-color:  #2B3C56;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  CLIENTES VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES CLIENTES VIEW --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonC {
    -fx-background-color:  #D59F05;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, black, 5,0,0,0); 
}

.buttonC:hover {
    -fx-background-color:  #F5BE00;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, white, 5,0,0,0);
}
/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TABLE VIEW CLIENTES --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.tableClientes{
    -fx-cell-size: 20;
}
.tableClientes .column-header{
    -fx-background-color:#FFFFFF;
}
/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  PROVEEDORES VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES PROVEEDORES VIEW --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonPrv {
    -fx-background-color:  #FFFFFF;
    -fx-text-fill: #2B3C56;
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, white, 5,0,0,0);  
}

.buttonPrv:hover {
    -fx-background-color:  #D59F05;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, black, 5,0,0,0);
}
/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TABLE VIEW PROVEEDORES --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.tablePrv{
    -fx-cell-size: 20;
}  
.tablePrv .column-header{
    -fx-background-color:#FFFFFF;
}
/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  TIPO PRODUCTO VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES TIPO PRODUCTO VIEW --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonTp {
    -fx-background-color:  #FFFFFF;
    -fx-text-fill: #2B3C56;
    -fx-border-color: black;
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-effect: dropshadow(three-pass-box, white, 5,0,0,0); 
}

.buttonTp:hover {
    -fx-background-color:  #F5BE00;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, black, 10,0,0,0);
}
/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TABLE VIEW TIPO PRODUCTO --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.tableTp{
    -fx-cell-size: 20;
}
.tableTp .column-header{
    -fx-background-color:#FFFFFF;
}
/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  COMPRAS VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES COMPRAS VIEW --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonCmp {
    -fx-background-color: #2B3C56;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: white;
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-effect: dropshadow(three-pass-box,#D59F05,10,0,0,0); 
}

.buttonCmp:hover {
    -fx-background-color:  #F5BE00;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, black, 10,0,0,0);
}
/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TABLE VIEW COMPRAS --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.tableCmp{
    -fx-cell-size: 20;
}
.tableCmp .column-header{
    -fx-background-color:#A6830C;
    text-decoration-color: #2B3C56;
}

/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                --------------------------  CARGO EMPLEADO VIEW ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- BOTONES CARGO EMPLEADO VIEW --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.buttonCrgEmp {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2B3C56;
    -fx-border-color: black;  
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-effect: dropshadow(three-pass-box, white,5,0,0,0); 
}

.buttonCrgEmp:hover {
    -fx-background-color:  #F5BE00;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, black, 5,0,0,0);
}
/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TABLE VIEW CARGO EMPLEADO --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.tableCrgEmp{
    -fx-cell-size: 20;
}
.tableCrgEmp .column-header{
    -fx-background-color:#FFFFFF;
}
/*------------------------------------------------------------------------------------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
                -------------------------- GENERALES VIEWS ----------------------------
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-------------------------------------------------------------------------------------------------------*/

/*-- ----|--|-|-------------------------|-|-|--|-|----------------------------||
||----------------------- TEXT FIELDS GENERALES --------------------------//
-- ----|--|-|-------------------------|-|-|--|-|----------------------------||*/
.table-row-cell:selected {
    -fx-background-color:#F5BE00;
}

.text-field:hover {
    -fx-background-color: transparent; 
    -fx-effect: dropshadow(three-pass-box, white, 10,0,0,0); 
}
/*--------------------------------------------------------------------------*/
/* ----------------------- BOTON DE REGRESO GENERALES -------------------------*/
/*--------------------------------------------------------------------------*/
.btnRegresar{
    -fx-background-color:  transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 100 100 100 100;
    -fx-border-radius: 100 100 100 100;
}
/*-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||*/
/*-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||
-- ----|--|-|-----------------------------------|-|-|--|-|-------------------------------------------||*/